<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenedor_app">
        <div class="formulario">
            <h1>Registro</h1>
            <br>
            <form class="form" action="/registro" method="post" role="form" autocomplete="off">

            <div class="form-group">
                <input id="nombre" name='username' placeholder="nombre" class="form-control" type="text" required>
            </div>
    
            <div class="form-group">
                <input id="password" name='password' placeholder="password" class="form-control" type="password" required>
            </div>

            <div class="form-group">
                <input id="direccion" name='direccion' placeholder="direccion" class="form-control" type="text" required>
            </div>
    
            <div class="form-group">
                <input class="btn btn-success my-3" type="submit" value="signup">
            </div>
            </form>
            <hr>
            <a href="/login">Inicia sesión</a>
        </div>
    </div>
</body>
</html>